*{
    margin: 0;
    padding: 0;
    font-family: "Poppins","Montserrat";
}

body{
    background-image: url(./assets/bg.png);
    background-size: cover;
    /* background-position:center; */
    color: #fff;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    color: #fff;
    height: 15vh; 
}
 
.navbar div img{
    margin-left: 5rem;

}

.line{
    width: 1px;
    height: 60px;
    background: #fff;
    /* margin: 0 -15rem; */
}

.list{
    display: flex;
    flex-direction: row;
    gap:5rem;
    list-style: none;
    /* margin: 0 3rem; */
}

.list:nth-child(1){
    content: "v";
   /* font-weight: bolder; */
   color: #fff;
}
.button-small{
    width: 8rem;
    height: 2rem;
    margin: 0 6rem;
    border: none;
    outline: none;
    background-color: #BF40BF;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
}

.hero{
    /* width: 100vw; */
    margin: 7rem 20rem;
    font-size: 40px;
    width: 50%;
    
}

.hero-description{
    font-size: 20px;
    font-weight: 600;
}

.button-large{
    width: 15rem;
    height: 2.5rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #BF40BF;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
    font-family: "Poppins";
}
